@import url('https://fonts.googleapis.com/earlyaccess/nanumgothic.css');

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: relative;
    margin-left:0;
}

/* html *{font-family:"Pretendard","Nanum Gothic","맑은 고딕","malgun gothic","Apple SD Gothic Neo",sans-serif} */
html,body *{font-family: 'Nanum Gothic',sans-serif;}
body{background:#f8f8f8!important}

.header{position:fixed;top:0;left:0;width:100%;max-width:none!important;padding:0!important;background:#111;z-index:99}
.header h1{position:fixed;top:0;left:20px;padding:0;margin:0;display:flex;align-items:center;height:63px}
.header h1 img{height:24px}
.header .header_tap{margin:0;padding:0;border-bottom:1px solid #ddd!important;position:relative}
.header .header_tap ul{padding:0 30px;margin:0 auto;padding-left:160px}
.header .header_tap ul li{color:#fff;opacity:0.6}
.header .header_tap + .header_tap{border:0;background:#f8f8f8;padding:0}
.header .header_tap + .header_tap ul li{font-size:12px}
.header_tap ul li{margin-right:20px;position:relative}
.header_tap ul li:hover{color:#fff}
.header_tap ul li:not(.active){background:transparent!important;border:0!important;padding:20px 0!important}
.header .header_tap ul li.active{border:0;background:transparent;color:#fff;padding:20px 5px!important;opacity:1;font-weight: 900;}
.header .header_tap +.header_tap ul li.active,.header .header_tap +.header_tap ul li:not(.active){padding-top:10px!important;padding-bottom:10px!important}
.header .header_tap ul li.active::after{content:"";width:100%;height:2px;background:#fff;display:block;position:absolute;bottom:0;left:0}
.header .header_tap + .header_tap ul li.active{color:#111}
.header .header_tap + .header_tap ul li.active::after{background:#111}
#content{padding-top:10px!important;border:0!important;min-height:100vh;box-shadow:0 30px 30px rgba(0,0,0,0.1)}
#content input[type="text"]{border:1px solid #ddd;border-radius:0;padding:5px; width:auto;}
#content .table-header{display:flex;justify-content:space-between;align-items:center;margin-top:30px;border:0}
#content .table-header .pull-left{padding:0}
#content .table-action{background:#fff;border:0;padding:0;margin:0}
#content .table-action .pull-right,#content .table-action .pull-left{padding:0}
#content .table-action + *{margin-top:10px}
#content .table-rows th{background:transparent!important;color:#333;border-right:1px solid #ddd;border-top:1px solid #333!important;padding:15px 10px}
#content .table-rows th:last-child{border-right:0}
#content .sort-box{margin-right:0;gap: 0 10px;display:flex;align-items:center}
#content .sort-box select{border:1px solid #ddd;border-radius:0;padding:5px}
.table-header .pull-left{font-weight:500;display:flex;align-items: center;gap: 0 3px;}
/* .table-header .pull-left strong{font-size:14px} */

.js-btn-single-cancel:hover,
.js-btn-single-cancel{background:#fa2828!important;border-color: #fa2828;color:#fff}

html,body{  min-width: 1200px; overflow-x: auto;}

#content .table-rows th{background: #f8f8f8!important;}

.pagination-sm > li > a, .pagination-sm > li > span{border:0!important}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{border-radius:30px!important;}
.pagination .img-page-arrow{padding-left:0!important;padding-right:0!important}

.table-title{font-weight: 900!important;}